/* General Navbar Styling */
.navbar {
    background-color: #ADD8E6 !important; /* Light blue */
}

/* Logo Boyutu ve Konumu */
.navbar-brand img {
    height: 50px; /* Logonun yüksekliği */
    max-width: 150px; /* Genişliği aşırı büyümemesi için sınırlandır */
    object-fit: contain; /* Logonun bozulmasını önler */
}

